{"installed":{"client_id":"855593925466-rqa2iec3of0f6s0qddqsb308nf9d4r6c.apps.googleusercontent.com","project_id":"apps-script-356308","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["http://localhost"]}}